

#ListDiv {
	display: block;
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	
	padding: 1em 1em 1em 2em;
	border: solid .2em black;
	border-radius: 1em;
}

#EditWindowDiv {
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
	height: 8em;
	background: white;
	border: solid .2em black;
	z-index: 2;
	border-radius: 1em;
	padding: 10px 20px;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: scale(1.1,1.1);
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2.5em;
    width: 2.5em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.ListControls {
	color: black;
	opacity: 0;
	transition: all .3s ease-in-out;
}

a:hover .ListControls {
	opacity: 1;
}

.selectLite {
	border: solid .15em aqua;
}